<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AppCoder</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

    {% include 'core/navbar.html' %}
    <!-- Page Content-->

    <div class="container px-4 px-lg-5">
        <h1>
            {% block contenido_titulo %}
                <h1>Registrar</h1>
            {% endblock contenido_titulo %}
        </h1>
 <!-- Register -->       

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body style="background-color: white;">
    <form action="/cliente/" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"> </p>
        <p>Apellido: <input type="text" name="Apellido"> </p>
        <p>Pais: <input type="text" name="pais_origen"> </p>
        <p>Fecha de Nacimiento: <input type="number" name="fecha_nacimiento"> </p>
        <input type="submit" value="Guardar">
    </form>
</body>

</html>