{% extends 'core/base.html' %}
{% load static %}

{% block contenido_titulo %}
    CORE LA CONCHA DE TU MADREE!!!
    <h5>HOLA SOY EL COREEEE CORE, CORRE CORE QUE TE CORREEEEEN</h5>
{% endblock contenido_titulo %}

{% block contenido %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.pinimg.com/564x/c6/22/9d/c6229dee8037acd884e3d2a41840ecf8.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Mirá, un lindo pez, la verdad que esta hermoso</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
    <!-- Content Row-->     
    <div class="row gx-4 gx-lg-5">
        {% include 'core/card.html' with titulox="Tarjeta 1" %}
        {% include 'core/card.html' with titulox="Tarjeta 2"%}
        {% include 'core/card.html' with titulox="Tarjeta 3"%}
        {% include 'core/card.html' with titulox="Tarjeta 4"%}
        
    </div>
{% endblock contenido %}