{% extends 'core/base.html' %}
{% load static %}

{% block contenido_titulo %}
    {% if request.user.is_authenticated %}
    <h4>
        {{ user.username | upper }}, Bienvenido
    </h4>
    {% endif %}
    Comprá los mejores juegos
    <h5>Al mejor precio</h5>
{% endblock contenido_titulo %}

{% block contenido %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://d.newsweek.com/en/full/895239/god-war-4-trophy-guide-complete-list-all-how-get-gold-silver-bronze-platinum.jpg?w=1600&h=900&q=88&f=9f956e01f14bb50bd8c38f9793d10384" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">¡Nuevo disponible nuestra tienda!</h1>
            <p>Con este juego de God of War vas a disfrutar de horas de diversión y de nuevos desafíos que te permitirán mejorar como gamer.</p>
            <a class="btn btn-primary" href="#!">¡Comprar ya!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
{% endblock contenido %}